body {
    margin: 0;
    padding: 0
}
#logo {
  background-image: url(malta-info-guide.png);

}
#logotext {
    padding: .5em
}
#nav {
    background-image: url(css-img/navbar-bg-34.gif);
    width: 100%
}
#nav,
#nav li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0
}
#nav a {
    float: left;
    padding: 6px 12px;
    text-decoration: none
}
#nav a.active,
#nav a:hover {
    text-decoration: underline
}
#footer {
    clear: both;
    margin: 0;
    padding: 0;
    position: relative
}
#footer p {
    margin: 0;
    padding: 6px 18px;
    text-align: right
}
#footer a {
    text-decoration: none
}
p {
    margin: 1em 0;
    padding: 0
}
h1,
h2,
h3 {
    padding: 0;
    margin: 0;
    text-align: left
}
#main-body {
    float: left;
    margin: 0;
    padding: 0
}
#content {
    margin: 0;
    padding: 20px
}
#sidebar {
    line-height: 1.5em;
    padding: 20px
}
code {
    line-height: 1.2em;
    text-align: left
}
code.def {
    margin-left: 5px
}
pre {
    line-height: 1.2em;
    text-align: left
}
pre.code {
    padding: 5px 10px;
    white-space: pre-wrap
}
em {
    font-style: italic
}
strong {
    font-weight: 700
}
strike {
    text-decoration: line-through
}
hr.dash {
    height: 0;
    margin: 15px 0
}
div.dash {
    border-left: 0;
    border-right: 0;
    margin: 14px 0;
    padding: 6px 0
}
a img {
    border: none
}
.bld {
    font-weight: 700
}
.centered {
    text-align: center
}
.hide {
    display: none
}
p.indented {
    padding: 0 15px 0 10px
}
#content .chapter,
#content .entry,
#content .mainheading {
    margin: 0 0 10px;
    text-align: justify
}
#content .mainheading {
    background-position: 100% 0;
    background-image: none;
    background-repeat: no-repeat;
    padding-top: 5px;
    padding-bottom: 5px
}
#content .top-sharebutton {
    float: right;
    height: 16px;
    margin-top: -24px;
    margin: 0;
    padding: 0;
    width: 125px
}
#content ul {
    list-style: none;
    margin: 1em 0;
    padding-left: 24px
}
#content ul li {
    padding: 0 0 0 17px;
    background: url(css-img/bullet.gif) no-repeat 2px 6px;
    text-align: left
}
#content dd.attr {
    padding-left: 20px
}
#content dd {
    padding-bottom: 5px
}
#sidebar ul {
    list-style: none;
    margin: 1em 0;
    padding-left: 2px
}
#sidebar ul li {
    background: url(css-img/bullet.gif) no-repeat 0 4px;
    line-height: 1.5em;
    padding: 0 0 10px 15px;
    text-align: left
}
#sidebar .sidebar-item {
    margin: 0;
    padding: 0
}
#sidebar .sidebar-sharebutton {
    margin: 0;
    margin-bottom: 10px;
    padding: 0
}
#sidebar h3 {
    border: none;
    margin: 0;
    padding: 0
}
div.toplinks,
th.toplinks {
    text-align: right
}
img.mid {
    vertical-align: middle
}
#contentfooter {
    text-align: right;
    overflow: hidden
}
#contentfooter img {
    vertical-align: middle
}
#contentfooter div.left {
    float: left
}
#contentfooter div.right {
    float: right
}
#cheatsheet {
    margin: 0
}
#cheatsheet table {
    border: none;
    line-height: 1.1em;
    margin: 0 0 8px;
    padding: 0;
    width: 100%
}
#cheatsheet tr {
    margin: 0;
    padding: 0
}
#cheatsheet th {
    padding-bottom: 8px
}
#cheatsheet th.toplink {
    text-align: right;
    vertical-align: top
}
#cheatsheet td {
    margin: 0;
    padding: 0
}
#cheatsheet td.code {
    padding-right: 5px;
    width: 40%;
    text-align: left
}
#cheatsheet td.attrhead {
    text-align: left
}
#cheatsheet td.codeindt {
    padding-left: 14px
}
#cheatsheet pre.code {
    border: none;
    padding: 2px 0
}
body {
    background: #444;
    color: #000
}
#wrap {
    background-color: #dedede
}
#logotext {
    background-color: transparent;
    color: #fff;
    text-shadow: 1px 1px #222
}
#nav {
    background-color: #222;
    border-top: 1px solid #999;
    border-bottom: 1px solid #666
}
#nav li {
    border-right: 1px solid #666
}
#nav a {
    color: #ccc
}
#nav a.active,
#nav a:hover {
    color: #000;
    background-color: #ddd
}
#footer {
    background-color: #2c2c2c;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    color: #777
}
#footer a {
    color: #bbb
}
#footer a:hover {
    color: #eee
}
a:link {
    color: #40659b
}
a:visited {
    color: #8ea4c2
}
a:hover {
    color: #036;
    background: #cc9
}
h1,
h2,
h3 {
    color: #624f79
}
#content,
#main-body {
    background: #eee
}
#content {
    border-right: 1px solid #aaa
}
#sidebar {
    color: #737173;
    background: #dedede url(css-img/bg_sidebar.gif) no-repeat 100% 0
}
code {
    color: #993;
    color: #772
}
code strong {
    color: #663
}
pre.code {
    border: 1px solid #999;
    background-color: #fff
}
hr.dash {
    border-top: 1px dashed #ccc
}
div.dash {
    border-top: 1px dashed orange;
    border-bottom: 1px dashed orange
}
#content .chapter,
#content .entry,
#content .mainheading {
    border-bottom: 1px solid #ddd
}
#content .mainheading {
    text-shadow: 1px 1px #fff
}
#cheatsheet td.code,
#cheatsheet td.codeindt {
    color: #772
}
#cheatsheet pre.code {
    background-color: transparent
}
#cheatsheet th.head3 {
    color: #624f79
}
body {
    font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, Lucida, Verdana, Tahoma, sans-serif;
    font-size: 10pt
}
h1 {
    font-size: 140%
}
h1,
h2 {
    font-weight: 700
}
h2 {
    font-size: 125%
}
h3 {
    font-size: 110%
}
dt,
h3 {
    font-weight: 700
}
code {
    font-weight: 400
}
code,
pre {
    font-family: monospace
}
div.toplinks,
th.toplinks {
    font-size: 80%
}
#logotext {
    font-family: Lucida Grande, Verdana, Lucida Sans, Lucida Sans Unicode, Trebuchet MS, Helvetica, sans-serif;
    font-size: 190%;
    font-weight: bolder
}
#nav,
#sidebar {
    font-size: 90%
}
#sidebar h3 {
    font-size: 105%
}
#contentfooter {
    font-size: 80%
}
#cheatsheet th.toplink {
    font-weight: 400;
    font-size: 80%
}
#cheatsheet pre.code,
#cheatsheet td {
    font-size: 90%
}
#cheatsheet td.code,
#cheatsheet td.codeindt {
    font-family: monospace
}
#cheatsheet td.attrhead {
    font-size: 90%
}
#cheatsheet th.head3 {
    font-size: 110%
}
#footer p {
    font-size: 75%
}